<%= form_for [@business, @order], html: { class: "form-horizontal"} do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="order-type-field field row-fluid">
    <h3>Order Type</h3>
    <div class="well well-large">
      <div class="order-type-radio radio-pickup span6">
        <label for="order_order_type_pickup" class="radio">
          <%= f.radio_button :order_type, 'pickup', checked: true %>
          <i class="icon-gift"></i> Pickup
        </label>
      </div>
      <div class="order-type-radio radio-delivery span6">
        <label for="order_order_type_delivery" class="radio">
          <%= f.radio_button :order_type, 'delivery' %>
          <i class="icon-truck"></i> Delivery
        </label>
      </div>
    </div>
  </div>
    <%= fields_for @user do |u| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this order from being saved:</h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if not user_signed_in? %>
        <h3>Contact Information</h3>
        <div class="control-group">
          <%= u.label :first_name, class: "control-label" %>
          <div class="controls">
            <%= u.text_field :first_name %>
          </div>
        </div>
        
        <div class="control-group">
          <%= u.label :last_name, class: "control-label" %>
          <div class="controls">
            <%= u.text_field :last_name %>
          </div>
        </div>
          
          <div class="control-group">
          <%= u.label :email, class: "control-label" %>
          <div class="controls">
            <%= u.email_field :email %>
          </div>
        </div>
        <!-- 
        <div class="control-group">
          <div class="controls"> 
            <label for="create_account_" class="checkbox">
              <%#= check_box_tag "create_account?", "1" %>
              Create account (only add a password)
            </label>
          </div>
        </div>
        <div class="control-group password-field-container">
          <%#= u.label :password, class: "control-label" %>
          <div class="controls">
            <%#= u.password_field :password %>
          </div>
        </div>
        <div class="control-group password-field-container">
          <%#= u.label :password_confirmation, class: "control-label" %>
          <div class="controls">
            <%= u.password_field :password_confirmation %>
          </div>
       </div>
      -->
      <% end %>
    <% end %>
  <%= fields_for @address do |a| %>
   
    <% if user_signed_in? %>
      <h3 class="address-field">Contact Information</h3>
      <div class="control-group address-field">
        <%= a.label :nickname, "Address Nickname", class: "control-label" %>
        <div class="controls">
          <%= a.text_field :nickname %>
        </div>
      </div>
      <div class="control-group address-field">
        <%= a.label :name, class: "control-label" %>
        <div class="controls">
          <%= a.text_field :name %>
        </div>
      </div>
    <% end %>

    <div class="control-group address-field">
      <%= a.label :phone, class: "control-label" %>
      <div class="controls">
        <%= a.telephone_field :phone %>
      </div>
    </div>
    
    <div class="control-group address-field">
      <%= a.label :line1, "Address", class: "control-label" %>
      <div class="controls">
        <%= a.text_field :line1 %><%a.text_field :line2 %>
      </div>
    </div>

    <div class="control-group address-field">
      <%= a.label :city, class: "control-label" %>
      <div class="controls">
        <%= a.text_field :city %>
      </div>
    </div>

    <div class="control-group address-field">
      <%= a.label :state, class: "control-label" %>
      <div class="controls">
        <%= a.text_field :state %>
      </div>
    </div>

  <% end %>

  <div class="form-actions">
    <%= f.submit 'Complete Order', class: "btn btn-success" %>
  </div>
<% end %>
