<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_type %>
    <%= f.radio_button :order_type, 'pickup', checked: true %>
    <%= label :order_order_type, 'pickup' %>
    <%= f.radio_button :order_type, 'delivery' %>
    <%= label :order_order_type, 'delivery' %>
  </div>
  <%= fields_for @user do |u| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div><%= u.label :first_name %><br />
    <%= u.text_field :first_name %></div>

    <div><%= u.label :last_name %><br />
    <%= u.text_field :last_name %></div>

    <div><%= u.label :email %><br />
    <%= u.email_field :email %></div>

    <div><%= label_tag :create_account?, "Create account (only need a password!)" %><br />
    <%= check_box_tag "create_account?", "1" %></div>

    <div><%= u.label :password %><br />
    <%= u.password_field :password %></div>

    <div><%= u.label :password_confirmation %><br />
    <%= u.password_field :password_confirmation %></div> 

  <% end %>
  <%= fields_for @address do |a| %>
   
    <div><%= a.label :name %><br />
    <%= a.text_field :name %></div>
 
    <div><%= a.label :phone %><br />
    <%= a.telephone_field :phone %></div>

    <div><%= a.label :line1, "Address" %><br />
    <%= a.text_field :line1 %>
    <%= a.text_field :line2 %></div>

    <div><%= a.label :city %><br />
    <%= a.text_field :city %></div>

    <div><%= a.label :state %><br />
    <%= a.text_field :state %></div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
