<h2 class="page-title">The Team <span class="arrow"></span> </h2>
<div class="row-fluid">
  <div class="team-member span6" id="jorge">
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span4">
          <%= image_tag "jorge_pensativo.jpg", class: "team-member-pic img-polaroid" %>
        </li>
        <li class="span8">
          <div class="team-member-info">
            <h3>
              Jorge L García<br />
              <small>jvarela@wharton.upenn.edu</small>
            </h3>
            <%= link_to "mailto:gjorge@seas.upenn.edu", class: "i-link" do%>
              <i class="icon-envelope-alt"></i>
            <% end %>
            <%= link_to "https://github.com/jgarciach", class: "i-link" do%>
              <i class="icon-github-sign"></i> 
            <% end %>
            <%= link_to "http://pa.linkedin.com/pub/jorge-luis-garcia-chapman/17/877/94", class: "i-link" do%>
              <i class="icon-linkedin-sign"></i> 
            <% end %>
          </div> 
        </li>
      </ul>
    </div>
  </div>
  <div class="team-member span6" id="jose">
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span4">
          <%= image_tag "jose_work.JPG", class: "team-member-pic img-polaroid" %>
        </li>
        <li class="span8">
          <div class="team-member-info">
            <h3>
              José R Varela<br />
              <small>jvarela@wharton.upenn.edu</small>
            </h3>
            <%= link_to "mailto:jvarela@wharton.upenn.edu", class: "i-link" do%>
              <i class="icon-envelope-alt"></i>
            <% end %>
            <%= link_to "https://github.com/cabe56", class: "i-link" do%>
              <i class="icon-github-sign"></i> 
            <% end %>
            <%= link_to "http://pa.linkedin.com/pub/jose-varela/13/458/9a3", class: "i-link" do%>
              <i class="icon-linkedin-sign"></i> 
            <% end %>
          </div> 
        </li>
      </ul>
    </div>
  </div>
</div>
