<% content_for :top_linkbar do %> 
  <%= link_to store_business_path(@cart.business_id), class: 'btn btn-small' do %>
    <i class="icon-chevron-left"></i> Back to Store
  <% end %>
  <%= link_to checkout_path({business_id: @cart.business_id}), class:"btn btn-small btn-primary" do %>
    Checkout Now <i class="icon-chevron-right"></i>
  <% end %>
<% end %>

<h2>
  <i class="icon-shopping-cart"></i> My Cart 
  <small>
    <% if @number_of_items == "empty"%> 
      empty
    <% else %>
      <%= pluralize(@number_of_items, 'item') %>
    <% end %>
  </small>
</h2>


<%= render "table" %>

<% content_for :bottom_linkbar do %>
  <%= link_to checkout_path({business_id: @cart.business_id}), class:"btn btn-small btn-primary" do %>
    Checkout Now <i class="icon-chevron-right"></i>
  <% end %>
<% end %>
