<% content_for :top_linkbar do %> 
  <%= link_to store_business_path(@item.business_id), class: 'btn btn-small' do %>
    <i class="icon-chevron-left"></i> Back to Store
  <% end %>
  <%= link_to cart_path(@cart_id), class: "btn btn-small" do %>
    <i class="icon-shopping-cart"></i> My Cart (<small><%= @cart.number_of_items %></small>)

  <% end %>
  <%= link_to checkout_path({business_id: @item.business_id}), class:"btn btn-small btn-primary" do %>
    Checkout Now <i class="icon-chevron-right"></i>
  <% end %>
<% end %>

<div class="row-fluid">
  <ul class="thumbnails">
    <li class="span4">
        <%= image_tag @item.picture.url(:medium), alt: 'http://placehold.it/300x300' %>
    </li>
    <li class="span8">
      <div>
        <h1 class="item-preview-name"><%= @item.name %></h1>
        <h2><small class="item-preview-price"><%= number_to_currency(@item.price) %></small></h2>
        <p class="item-description"><%= @item.description %></p>
        <%= form_for :cart_item, url: cart_items_path do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <div class="control-group">
            <div class="controls">
              <%= f.number_field :quantity, value: "1" , class: 'input-mini quantity' %>
            </div>
          </div>
          <button class="btn btn-success" type="submit">Add to Cart</button>
        <% end %>
      </div>
    </li>
  </ul>
</div>
<% content_for :bottom_linkbar do %> 
  <%= link_to store_business_path(@item.business_id), class: 'btn btn-small' do %>
    <i class="icon-chevron-left"></i> Back to Store
  <% end %>
  <%= link_to cart_path(@cart_id), class: "btn btn-small" do %>
    <i class="icon-shopping-cart"></i> My Cart
  <% end %>
  <%= link_to checkout_path({business_id: @item.business_id}), class:"btn btn-small btn-primary" do %>
    Checkout Now <i class="icon-chevron-right"></i>
  <% end %>
<% end %>

