<!DOCTYPE html>
<html>
    <head>
        <title>Business Name Here - Ubiqua Store</title>
        <%= stylesheet_link_tag "third_party" %>
        <%= stylesheet_link_tag "bootstrap_and_overrides" %>
        <%= stylesheet_link_tag "scaffolds" %>
	<%= yield :css %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <script type="text/javascript">
            $(document).bind('sizeChange', resizeIframe);

            ubiquafr = $(parent.document).find("#ubiqua-store");
            ubiquafr.height(150);
            
            function resizeIframe () {
              ubiquafr.height(ubiquafr.contents().height());
            }

            $(function () { 
              resizeIframe(ubiquafr);  
            }); 
        </script> 
    </head>
    <body>
        <div class="container">
            <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <%= msg %>
                </div>
            <% end %>
        </div>
      <div class="content">
        <div class="row-fluid links-top">
          <div class="span12">
          <span><%= yield :top_linkbar %></span>
          <% if user_signed_in? %>
              <span class="user-greet user-controls pull-right">Hello, <b><%= current_user.first_name.titleize %></b> (<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>)</span>
          <% else %>
            <span class="user-controls pull-right">
              <%= link_to "Sign In", new_user_session_path(layout: "third_party") %> or <%= link_to "Sign Up", new_user_registration_path(layout: "third_party") %>
            </span>
          <% end %>
          </div>
        </div>

        <%= yield %>    

        <div class="row-fluid links-bottom">
          <div class="span12">
            <% if user_signed_in? %>
              <span class="user-controls"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></span>
            <% else %>
              <span class="user-controls">
                <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %>
              </span>
            <% end %>      
            <span class="pull-right"><%= yield :bottom_linkbar %></span>
          </div>
        </div>
    </div>
  </body>
</html>
